<h2 align="center" class="empTitle"><em>@ViewBag.Title</em></h2>

<ng-form name="employeeForm">
    <div>
        <div layout="row" class="rowlayout">
            <md-input-container class="md-block, empInputsPadding">
                <label>Name:</label>
                <input class="empInputsMargin" type="text" ng-model="employee.name" required />
            </md-input-container>

            <md-input-container class="md-block, empInputsPadding">
                <label>Mobile:</label>
                <input class="empInputsMargin" type="tel" ng-model="employee.mobile" required />
            </md-input-container>

            @*<md-input-container class="md-block">
                <label>DOB:</label>
                <input class="empInputsMargin" ng-model="employee.date_of_birth" type="date" ng-bind="date | date:'yyyy/MM/dd'" required />
            </md-input-container>*@

            <md-datepicker ng-model="employee.date_of_birth" class="empInputsMargin, dateInput" md-placeholder="Date Of Birth" required>
                <label>Date Of Birth</label>
            </md-datepicker>
        </div>

        <div layout="row" class="rowlayout">
            <md-radio-group layout="row" class="md-block" id="genderTag" ng-model="employee.gender_id" flex-gt-sm>
                <label id="genderlabel">Gender:</label>
                <md-radio-button ng-repeat="gender in genders" ng-value="{{gender.gender_id}}">{{gender.name}}</md-radio-button>
            </md-radio-group>

            <md-slider-container class="md-block" id="sliderTag" flex-gt-sm ng-disabled="true">
                <label id="labelSliderTag">Age:</label>
                <md-slider flex ng-model="employee.age" min="18" max="100" aria-label="regular slider"></md-slider> {{employee.age}}
            </md-slider-container>

            <md-input-container class="md-block" id="emailInputTag">
                <label>Email</label>
                <input type="email" id="emailInput" ng-model="employee.email" required />
            </md-input-container>
        </div>

        <div layout="row" class="rowlayout, centerButtonForm">
            <md-input-container>
                <md-select class="marginRight" ng-model="employee.education_Id" placeholder="Choose Degree">
                    <md-option ng-repeat="degree in educations" ng-value="{{ degree.education_Id }}"> {{ degree.Degree_Type }} </md-option>
                </md-select>
            </md-input-container>

            @*<md-input-container>
                <label>State</label>
                <md-select class="marginRight" ng-model="employee.state_Id">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="state in states" ng-value="{{state.usa_state_id}}">
                        {{ state.State }}
                    </md-option>
                </md-select>
            </md-input-container>*@

            <md-autocomplete 
                    md-selected-item="employee.USAState"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in states | filter: searchText"
                    md-item-text="item.State"
                    placeholder="Choose the state.">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.State}}</span>
                </md-item-template>
            </md-autocomplete>
                
                <div align="center">
                    <md-button class="md-raised md-warn" aria-label="Update Button" ng-click="updateEmployeeInfo()" ng-show="updating">
                        <span class="glyphicon glyphicon-ok"></span>
                    </md-button>
                    <md-button class="md-fab md-primary" aria-label="Add Employee Info Button" ng-click="addEmployeeInfo()" ng-hide="updating">
                        <span class="glyphicon glyphicon-plus"></span>
                    </md-button>
                </div>
        </div>
    </div>
</ng-form>

<div class="col-sm-2 pull-left">
    <label>Page Size:</label>
    <select ng-model="data_limit" class="form-control">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>

<form>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Email</th>
                <th>Degree</th>
                <th>State</th>
                <th>&nbsp;</th>
            </tr>
            @*<tr>
                <th><input ng-model="employee.name" class="form-control" /></th>
                <th><input ng-model="employee.mobile" class="form-control" /></th>
                <th><input ng-model="employee.date_of_birth" class="form-control" type="date" data-date-format="YYYY MM DD" value="2015-08-09" /></th>
                <th class="form-group">
                        <select ng-model="employee.gender_id" class="form-control">
                            <option>Choose</option>
                            <option ng-repeat="gender in genders" ng-value="{{gender.gender_id}}">{{gender.name}}</option>
                        </select>
                    </th>
                <th><input type="number" min="18" max="100" ng-model="employee.age" class="form-control" disabled /></th>
                <th><input type="email" ng-model="employee.email" class="form-control" /></th>
                <th class="form-group">
                    <select class="form-control" ng-model="employee.education_Id">
                        <option>Choose</option>
                        <option ng-repeat="degree in educations" ng-value="{{ degree.education_Id }}">{{ degree.Degree_Type }}</option>
                    </select>
                </th>
                <th>
                    <select class="form-control" ng-model="employee.state_Id">
                        <option>Choose</option>
                        <option ng-repeat="state in states" ng-value="{{state.usa_state_id}}">{{ state.State }}</option>
                    </select>
                </th>
                <th style="display: inline-flex">
                    <button ng-click="updateEmployeeInfo()" ng-show="updating" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button ng-click="addEmployeeInfo()" ng-hide="updating" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </th>
            </tr>*@
        </thead>

        <tbody>
            <tr ng-repeat="employee in employees = (file | filter:search | orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit">
                <td>{{ employee.name }}</td>
                <td>{{ employee.mobile }}</td>
                <td>{{ employee.date_of_birth }}</td>
                <td>{{ employee.gender_id === 2 ? "Female" : "Male" }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.Education.Degree_Type }}</td>
                <td>{{ employee.USAState.State }}</td>
                <td style="display: inline-flex">
                    <button ng-click="selectEmployeeToUpdate(employee)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-click="deleteEmployeeById(employee.employee_Id)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div class="col-md-12" ng-show="filter_data == 0">
    <div class="col-md-12">
        <h4>No records found..</h4>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6 pull-left">
        <h5>Showing {{ employees.length }} of {{ entire_user}} entries</h5>
    </div>
    <div class="col-md-6" ng-show="filter_data > 0">
        <div pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="filter_data" items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
    </div>
</div>
@*<input ng-model="employee.education_Id" class="form-control" />*@