body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.empTitle {
    margin-bottom: 7rem;
}

.empInputsPadding {
    padding-right: 15rem;
}

.empInputsMargin {
    margin-right: 10rem;
}

.rowlayout {
    padding-bottom: 5rem;
}

#genderlabel {
    margin-right: 1rem;
}

#genderTag {
    margin: 7rem 7rem 7rem 0rem;
}

#sliderTag {
    padding: 0rem 15rem 0rem 0rem;
}

#labelSliderTag {
    margin: 0rem 1rem 0rem 4rem;
}

#emailInputTag {
    margin: 6rem 0rem 0rem 0rem;
}

#emailInput {
    margin-right: 11rem;
}

.marginRight {
    margin-right: 5rem;
}

.centerButtonForm {
    margin-left: 34rem;
    padding-bottom: 5rem;
}
